force-app/main/default/flows/PushContactInUseNotification-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ContactAlreadyInUseNotification</name>
        <label>Contact Already In Use Notification</label>
        <locationX>1001</locationX>
        <locationY>48</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetContactEmailExistenceNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ContactExistenceNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>ContactExistenceNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CurrentUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetRemovedContact.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>CollectCurrentUserId</name>
        <label>Collect Current User Id</label>
        <locationX>764</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>CurrentUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactAlreadyInUseNotification</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ContactExistenceNotificationTypeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact Existence Notification</stringValue>
        </value>
    </constants>
    <decisions>
        <name>IsContactExisting</name>
        <label>Is Contact Existing</label>
        <locationX>364</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactEmailIsInUse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRemovedContact.ContactEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRemovedContact.ContactEmail__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactEmailExistenceNotificationType</targetReference>
            </connector>
            <label>Contact E-mail is in use</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Push &apos;Contact In Use&apos; Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Push &apos;Contact In Use&apos; Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContactEmailExistenceNotificationType</name>
        <label>Get Contact E-mail Existence Notification Type</label>
        <locationX>547</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectCurrentUserId</targetReference>
        </connector>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactExistenceNotificationTypeName</elementReference>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetRemovedContact</name>
        <label>Get Removed Contact</label>
        <locationX>211</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsContactExisting</targetReference>
        </connector>
        <filters>
            <field>ContactEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactEmail</elementReference>
            </value>
        </filters>
        <object>ContactRemovalHistory__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <startElementReference>GetRemovedContact</startElementReference>
    <textTemplates>
        <name>ContactExistenceNotificationBody</name>
        <text>&lt;p&gt;The {!ContactEmail} is already in use. Please specify another e-mail. &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
